{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties"
            ]
        }
    },
    "plugins": [
        "react",
        "import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb-base"
    ],
    "rules": {
        "class-methods-use-this": 0,
        "max-len": [
            2,
            1180
        ],
        "import/prefer-default-export": 0,
        "import/no-dynamic-require": 0,
        "no-console": 0,
        "global-require": 0
    },
    "env": {
        "browser": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}