.application-hero-container {
  padding: 100px 50px 0 50px;
  min-height: 830px; }
  @media (min-width: 768px) {
    .application-hero-container {
      min-height: 600px; } }
  .application-hero-container .application-hero-image {
    margin: 10px;
    text-align: center; }
    .application-hero-container .application-hero-image img {
      max-height: 400px; }
  .application-hero-container .application-hero-teaser {
    margin: 0 20px 50px 20px;
    text-align: center; }
    .application-hero-container .application-hero-teaser h2, .application-hero-container .application-hero-teaser p {
      color: white; }
    .application-hero-container .application-hero-teaser h2 {
      margin-top: 30px;
      font-size: 30px; }
    .application-hero-container .application-hero-teaser p {
      font-size: 18px; }
    @media (min-width: 768px) {
      .application-hero-container .application-hero-teaser h2 {
        font-size: 36px; }
      .application-hero-container .application-hero-teaser p {
        font-size: 24px; }
      .application-hero-container .application-hero-teaser img {
        padding-top: 20px; } }
