.application-hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  padding: 56px 25px 0;

  .application-hero-image {
    max-height: 30vh;
    width: auto;

    img {
      height: auto;
      width: 100%;
    }
  }

  .application-hero-teaser {
    height: 40vh;

    h1 {
      margin: 0;
      padding: 0;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media only screen and (min-width : 576px) {
  .application-hero {
    align-items: center;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    .application-hero-image {
      height: auto;
      max-height: 50vh;
      max-width: 40%;
    }
  
    .application-hero-teaser {
      max-width: 700px;
      width: 40%;
    }
  }
}
