.feature {
  align-items: center;
  display: flex;

  h4 {
    margin: 0;
    padding: 15px 0 10px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .feature-wrapper {
    flex-grow: 1;
  }

  .feature-icon {
    margin-left: 10px;
    min-width: 50px;
    text-align: center;
  }

  i {
    font-size: 40px;
  }
}

@media only screen and (min-width : 992px) {
  .feature {
    flex-grow: 1;
    width: 300px;
  }
}
