footer {
  margin-top: 50px;
}

@media only screen and (min-width : 576px) {
  footer {
    margin-top: 100px;
  }
}

.footer {  
  min-height: 50vh;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

.footer-quote {
  font-size: 40px;
  font-weight: 100;
  padding: 50px 10px;
  text-align: center;
}

.footer-copyright {
  padding: 15px 0;
}

.footer-item {
  padding: 3px 0;
}

.social-links {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  a {
    display: flex;
    margin: 10px;
  }
}
