#navigation {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: solid 1px #eee;
}


.navbar-brand {  
  font-size: 30px;
  img {
    width: 40px;
    height: 40px;
    margin: -5px 10px 0 0;
  }
}