section {
  padding: 0 10px 40px;

  .section-title-wrapper {    
    margin: 30px auto 10px;
    overflow: hidden;
    text-align: center;
  }

  h2,
  h3 {
    text-align: center;
  }

  h2::before,
  h2::after {
    border-bottom: 1px solid #222;
    content: '';
    display: inline-block;
    height: 0.65em;
    margin: 2px 2% 0 -55%;
    vertical-align: top;
    width: 50%;
  }

  h2::after {
    margin: 2px -55% 0 2%;
  }

  h3 {
    padding-bottom: 5px;
    padding-top: 10px;
  }

  h4 {
    padding-bottom: 15px;
    padding-top: 10px;
  }
}

.section {
  max-width: 750px;
}

.section-light {
  background: #fff;
  padding-top: 5px;
}

.section-dark {  
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-top: -50px;
  padding-top: 50px;

  h2::before,
  h2::after {
    border-bottom: 1px solid #fff;
  }
  
  a,
  a:visited {
    color: #fff;
  }
}
